@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);@import url(https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap);* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

span {
  font-family: "PT Sans", sans-serif;
}

li {
  list-style: none;
  font-family: "Roboto", sans-serif;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 50px;
}

.header-nav li {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #000;
  padding: 20px;
}

.header-nav li:hover {
  background-color: lightblue;
  transition: 1.2s;
  transform: scale(1.2);
  cursor: pointer;
}

main {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/fondo-pag-speciali.jpg);
}

.wrapper_products {
  width: 100%;
  margin: auto;
  position: relative;
  margin-top: 10px;
}

.wrapper_products li {
  width: 25%;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.wrapper_products li img {
  width: 100%;
}

.wrapper_products li img:hover {
  transition: 1.2s;
  background-color: lightblue;
  opacity: 0.5;
  transform: scale(1.05);
  cursor: pointer;
}

.product_text {
  position: absolute;
  top: 0;
  text-transform: capitalize;
  font-size: 30px;
  transform: translateY(-100%);
}

