// common style values
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

span {
  font-family: 'PT Sans', sans-serif;
}
li {
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
