// common style values
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
  margin: 10px;
  padding: 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  img {
    width: 25%;
  }
}
