// common style values
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
h2 {
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
  color: #008B8B;
}
li {
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}
