//main
main {
  @include BackgroundImage;
  background-image: url(/images/fondo-pag-speciali.jpg);
  margin-bottom: 80px;
}
// wrapper
.main_wrapper {
  @include wrapper;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  li {
    @include DisplayFlex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    text-align: center;
    position: relative;
    transition: 1.2s;
    margin: 10px;
    padding: 5px;
    .food_logo {
      width: 100px;
      height: 30px;
      margin-top: 100px;
      position: absolute;
      opacity:0;
      transition: 1.2s;
    }
    p {
      position: absolute;
      opacity:0;
      transition: 1.2s;
    }
    img:first-child {
      width: 100%;
    }
    &:hover {
      background-color: lightblue;
      opacity: 0.8;
      transform: scale(1.05);
      cursor: pointer;
    }
    &:hover p, &:hover .food_logo {
      opacity: 1;
    }
  }
}
.products_wrapper {
  width: 100%;
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 100%;
    height: 100%;
  }
  div {
    background-color: #B8DAE4;
  }
  p {
    padding: 100px;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
  }
  h3 {
    text-align: center;
    padding: 30px 0px;
    font-size: 30px;
    background-color: #B8DAE6;
    width: 100%;
  }
}
// end main
